<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.esgi.social.mapper.CodePostMapper">
    <resultMap id="codePostVO" type="com.esgi.social.model.vo.CodePostVO">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="user_id" property="userId"/>
        <result column="original_post_id" property="originalPostId"/>
        <result column="was_reviewed" property="wasReviewed"/>
        <result column="review_of" property="reviewOf"/>
        <result column="comments" property="comments"/>
        <result column="view" property="view"/>
        <result column="description" property="description"/>
        <result column="language" property="language"/>
        <result column="language_id" property="languageId"/>
        <result column="code" property="code"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="username" property="username"/>
        <result column="alias" property="alias"/>
        <result column="avatar" property="avatar"/>
    </resultMap>

    <select id="getAllByUserName" resultMap="codePostVO">
        SELECT *,
        u.username,
        u.alias,
        u.avatar
        FROM bms_codepost t
        LEFT JOIN ums_user u
        ON t.user_id = u.id
        <where>
            <if test="username!=null">
                and u.username = #{username}
            </if>
        </where>
        order by t.view desc, t.create_time desc
    </select>

    <select id="getAllOriginalByUserName" resultMap="codePostVO">
        SELECT *,
        u.username,
        u.alias,
        u.avatar
        FROM bms_codepost t
        LEFT JOIN ums_user u
        ON t.user_id = u.id
        <where>
            <if test="username!=null">
                and u.username = #{username}
                and t.was_reviewed = false
                and (t.original_post_id = ''
                or t.original_post_id is null)
            </if>
        </where>
        order by t.view desc, t.create_time desc
    </select>
    <select id="getAllContributionByUserName" resultMap="codePostVO">
        SELECT *,
        u.username,
        u.alias,
        u.avatar
        FROM bms_codepost t
        LEFT JOIN ums_user u
        ON t.user_id = u.id
        <where>
            <if test="username!=null">
                and u.username = #{username}
                and (t.original_post_id != ''
                or t.original_post_id is not null)
            </if>
        </where>
        order by t.view desc, t.create_time desc
    </select>

    <select id="searchByKeyword" resultMap="codePostVO">
        SELECT *,
        u.username,
        u.alias,
        u.avatar
        FROM bms_codepost t
        LEFT JOIN ums_user u
        ON t.user_id = u.id
        <where>
            <if test="keyword!=null">
                and t.title like CONCAT('%','${keyword}')
                or t.title like CONCAT('${keyword}','%')
                or t.title like CONCAT('%','${keyword}','%')
                or t.title = #{keyword}
                or t.description like CONCAT('${keyword}','%')
                or t.description like CONCAT('%','${keyword}','%')
                or t.description = #{keyword}
            </if>
        </where>
        order by t.view desc, t.create_time desc
    </select>

    <select id="selectListAndPage" resultMap="codePostVO">
        SELECT *
        FROM bms_codepost t
        LEFT JOIN ums_user u
        ON t.user_id = u.id
        order by t.create_time desc
    </select>

    <select id="selectCodePostAfter" resultType="com.esgi.social.model.entity.CodePost">
        SELECT *
        FROM bms_codepost t
        where

              original_post_id = #{codePostId}

        order by t.create_time desc
    </select>

    <select id="selectFriendsCodePost" resultMap="codePostVO">
        SELECT *
        FROM bms_codepost t
        where
            user_id IN (select parent_id from bms_follow where follower_id = #{userId})

        order by t.create_time desc
    </select>



</mapper>
